@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.header {
  display: flex;
  background-color:blanchedalmond;
  justify-content: space-around;
  align-items: center;
}

.home > img {
  width: 90%;
  height: auto;
  padding: 0 4vw;
}

.logo > a > img {
  width: 5vw;
  height: auto;
}

.title {
  width: 80%;
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 2em;
}

.nav> ul {
  list-style:none;
  display: flex;
  padding: 0 33vw;
}

.nav > ul > li {
  margin: 0.5em auto;
  padding: 0 2px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 15px;
}

.nav > ul > li > a {
  text-decoration: none;
  color: grey;
}
.nav > ul > li > a:hover {
  color: black;

}

.container {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
}


.food {
  display:none;
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  font-size: 0;
}

.food > a > img {
  justify-content: center;
  align-content: center;
  width: 33vw;
}

.sight {
  display: none;
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  font-size: 0;
}

.sight > a > img {
  justify-content: center;
  align-content: center;
  width: 33vw;
}

hr {
  margin: 2vh 0;
}

.moreView {
  display:none;
  width: 100%;
  text-align: center;
}

.footer{
  text-align: end;
  margin: 0 2vw 2vw 2vw;
}