@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100vw;
}

#Home > img {
  width: 90%;
  height: auto;
  margin: 0 4vw;  
}

.logo >  img {
  width: 20vw;
  height: auto;
  font-size: 0;
}

.title {
  width: 75%;
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 2em;
}

#changeMode {
  width: 10vw;
  margin: 0 4vw 0 0;
}

 #night_day {
  width: 50px;
  height: 50px;
  float: right;
  border: 1px solid black;
  border-radius: 50%;
  outline:none;
  /* background-color : white; */
}

#tabMenu {
  display: flex;
  flex-flow: wrap;
}

#tabMenu  input[type="radio"] {
  display:none;  /* 라디오 버튼 감춤 */ 
}
#tabMenu label {  /* 탭 제목 스타일 */ 
  justify-content: center;
  margin: 5px auto 5px auto;  /* 마진 */ 
  padding: 0 25px;  /* 패딩 */
  color:#aaa;  /* 글자 색 */ 
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2vw;

}
#tabMenu label:hover {  /* 마우스 오버했을 때 탭 제목 스타일 */
  font-weight: 900;  
  cursor:pointer;
}
#tabMenu input:checked + label {  /* 활성화된 탭 제목 스타일 */ 
  font-weight :900;
}

.tabContent {  /* 탭 내용 스타일 */
  display:none; 
}


#tab1:checked ~ #Home,
#tab2:checked ~ #forSight,
#tab3:checked ~ #forFood {
  display:block;
}

.container {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
}


.items {
  display: flex;
  width: 92vw;
  height: auto;
  flex-wrap: wrap;
  font-size: 0;
  margin: 0 4vw ;  
}

 .items img {
  width: 30vw;
}

.items img:hover {
  opacity: 0.7;
}

.lightbox-overlay {
  opacity: 0;
  pointer-events: none; /*이 id에 링크가 할당되어 있어도 연결되지 않도록 함*/
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .3s ease-in;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* .lightbox-overlay img {
  height: 20vw;
} */

  .lightbox-overlay.visible {
    opacity: 1;
    pointer-events: auto; /* 링크 이벤트를 다시 연결되도록 살려줌 */
  }


hr {
  margin: 1vh 0;
  background-color:#72cdda;
  height: 2px;
  border: 0px;
}

.moreView {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 2vh;
}

.moreView> a {
  text-decoration: none;
}

.moreView > a:hover {
  color: red;
  font-weight: bold;
}

.footer{
  text-align: end;
  margin: 0 4vw 2vw 2vw;
}




