@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100vw;
}

#Home > img {
  width: 90%;
  height: auto;
  margin: 0 4vw;  
}

.logo >  img {
  width: 20vw;
  height: auto;
  font-size: 0;
}

.title {
  width: 75%;
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 2em;
}

#tabMenu {
  display: flex;
  flex-flow: wrap;
}

#tabMenu  input[type="radio"] {
  display:none;  /* 라디오 버튼 감춤 */ 
}
#tabMenu label {  /* 탭 제목 스타일 */ 
  justify-content: center;
  margin: 5px auto 5px auto;  /* 마진 */ 
  padding: 0 25px;  /* 패딩 */
  color:#aaa;  /* 글자 색 */ 
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2vw;

}
#tabMenu label:hover {  /* 마우스 오버했을 때 탭 제목 스타일 */
  color:#222;  
  cursor:pointer;
}
#tabMenu input:checked + label {  /* 활성화된 탭 제목 스타일 */ 
  color:black;
}

.tabContent {  /* 탭 내용 스타일 */
  display:none; 
}


#tab1:checked ~ #Home,
#tab2:checked ~ #forSight,
#tab3:checked ~ #forFood {
  display:block;
}

.container {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
}


.food {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  font-size: 0;
  margin: 0 4vw ;  
}

.food > a > img {
  justify-content: center;
  align-content: center;
  width: 30vw;
}

.sight {
  display: flex;
  width: 92vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 4vw ;  
  font-size: 0;
}

.sight > a > img {
  justify-content: center;
  align-content: center;
  width: 30vw;
}

hr {
  margin: 1vh 0;
  background-color:#72cdda;
  height: 2px;
  border: 0px;
}

.moreView {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 2vh;
}

.moreView> a {
  text-decoration: none;
}

.moreView > a:hover {
  color: red;
  font-weight: bold;
}

.footer{
  text-align: end;
  margin: 0 4vw 2vw 2vw;
}

#changeMode {
  display: none;
}


